.container {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 100gh repo create --public --source=.px;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #EDE9D5;
}

h1 {
  margin: 30px;
  font-family: 'Courgette', cursive;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 1rem;
  color: #4ECCA3;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 80%;
}
